

<!--<router-outlet></router-outlet>-->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <app-menu></app-menu>
   
   <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
<!-- Page wrapper FIN -->
        <!-- ============================================================== -->
         <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <app-contenido></app-contenido>
                <router-outlet></router-outlet>
            </div>
              <!-- Container fluid  -->
            <!-- ============================================================== -->
        </div>
  </div>

  