<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de Empresa</h4>
                    <form [formGroup]="empresaformulario">
                      <mat-form-field>
                        <input matInput placeholder="Ingrese el RUC " formControlName="ruc">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese la Razon Social " formControlName="razonsocial">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese el Nombre de Fantasia "formControlName="nombrefantasia">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese la Pagina Web "formControlName="web">
                      </mat-form-field>
                      <div class="text-xs-right">
                        <button type="submit"  [disabled]="empresaformulario.invalid"  class="btn btn-primary" (click)="editar ? actualizarEmpresa():nuevaEmpresa()" type="submit" >Guardar</button>
                        <button type="reset" class="btn btn-inverse">Cancelar</button>
                    </div>

                    </form>

            </div>
        </div>
    </div>
  </div>
  
  