
<div class="col" >
                <div class="card">
                    <div class="card-body">

                        <div class="example-header">
                            <mat-form-field>
                              <input matInput (keyup)="doFilter($event.target.value)" placeholder="Buscar Productos">
                            </mat-form-field>
                          </div>
                        
                        <table mat-table [dataSource] = "dataSource " class = "mat-elevation-z8"> 
                            
                            <ng-container matColumnDef = "codigoproducto">
                               <th mat-header-cell *matHeaderCellDef> Codigo</th>
                               <td mat-cell *matCellDef = "let element"> {{element.CodigoProducto}} </td>
                            </ng-container>
                            <ng-container matColumnDef = "codigobarra">
                                <th mat-header-cell *matHeaderCellDef> C.Barra</th>
                                <td mat-cell *matCellDef = "let element"> {{element.CodigoBarra}} </td>
                             </ng-container>
                             <ng-container matColumnDef = "descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                                <td mat-cell *matCellDef = "let element"> {{element.Descripcion}} </td>
                             </ng-container>
                             <ng-container matColumnDef = "categoria">
                              <th mat-header-cell *matHeaderCellDef>Categoria </th>
                              <td mat-cell *matCellDef = "let element"> {{element.Categoria}} </td>
                           </ng-container>
                           <ng-container matColumnDef = "marca">
                              <th mat-header-cell *matHeaderCellDef>Marca </th>
                              <td mat-cell *matCellDef = "let element"> {{element.Marca}} </td>
                           </ng-container>
                          <ng-container matColumnDef = "impuesto">
                              <th mat-header-cell *matHeaderCellDef>Impuesto</th>
                              <td mat-cell *matCellDef = "let element"> {{element.Impuesto}} </td>
                           </ng-container>
                             <ng-container matColumnDef = "preciocompra">
                                <th mat-header-cell *matHeaderCellDef>Precio Compra</th>
                                <td mat-cell *matCellDef = "let element"> {{element.PrecioCompra | number}} </td>
                             </ng-container> 
                             <ng-container matColumnDef = "stockactual">
                                <th mat-header-cell *matHeaderCellDef>Stock Actual </th>
                                <td mat-cell *matCellDef = "let element"> {{element.StockActual}} </td>
                             </ng-container>
                             <ng-container matColumnDef = "stockminimo">
                                <th mat-header-cell *matHeaderCellDef>Stock Minimo </th>
                                <td mat-cell *matCellDef = "let element"> {{element.StockMinimo}} </td>
                             </ng-container>
                             <ng-container matColumnDef = "deposito">
                                <th mat-header-cell *matHeaderCellDef>L.Desc </th>
                                <td mat-cell *matCellDef = "let element"> {{element.Deposito}} </td>
                             </ng-container>

                             <ng-container matColumnDef = "accion">
                                <th mat-header-cell *matHeaderCellDef>Acciones </th>
                                <td mat-cell *matCellDef = "let row"> <button [routerLink]="['/productos/editar',row.CodigoProducto]"  class="btn btn-primary">
                                    <i  class="fa fa-edit"></i>
                                  </button></td>
                             </ng-container>
                             
                             
                            <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
                            <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
                           
                             
                         </table>
                         <mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 6, 10, 20]">
                        </mat-paginator>
                         <div class="text-right">
                             <button routerLink="/productos/agregar" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                             <i class="fa fa-plus"></i> 
                             Crear Producto
                           </button>
                         </div>
                    </div>
                </div>
            </div> 
              
        