<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Familias</h4>
           
            <div class="table-responsive">
                <input type="text" class="form-control m p-0 " name="filtroFamilia" [(ngModel)]="filtroFamilia"  placeholder="Buscar" />
                <table class="table color-table inverse-table">
                    <thead>
                        <tr>
                          
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let familia of familias | buscarfamilia:filtroFamilia  | paginate:{itemsPerPage:3,currentPage: p}; let i = index  ">
                            <td>{{familia.codigo}}</td>
                            <td>{{familia.nombre}}</td>
                            <td>
                                <button [routerLink]="['/familias/editar',familia.codigo]"   class="btn btn-primary">
                                <i  class="fa fa-edit"></i>
                              </button>

                                <button (click)="eliminarFamilia(familia.codigo)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>   
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <div class="text-right">
                    <button routerLink="/familias/agregar" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i> 
                    Crear Familia
                  </button>
                </div>
            </div>
        </div>
    </div>
</div> 