<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Presentaciones</h4>
           
            <div class="table-responsive">
                <input type="text" class="form-control m p-0 " name="filtroPresentaciones" [(ngModel)]="filtroPresentaciones" placeholder="Buscar" />
                <table class="table color-table inverse-table">
                    <thead>
                        <tr>
                          
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let presentacion of presentaciones  | buscarpresentacion:filtroPresentaciones | paginate:{itemsPerPage:3,currentPage: p}; let i = index  ">
                            <td >{{presentacion.codigo}}</td>
                            <td>{{presentacion.descripcion}}</td>
                            <td>
                                <button  [routerLink]="['/presentaciones/editar',presentacion.codigo]"   class="btn btn-primary">
                                <i  class="fa fa-edit"></i>
                              </button>

                                <button (click)="eliminarPresentacion(presentacion.codigo)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <div class="text-right">
                    <button routerLink="/presentaciones/agregar" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i> 
                    Crear Presentaciones
                  </button>
                </div>
            </div>
        </div>
    </div>
</div> 