<div class="col" >
    <div class="card">
        <div class="card-body">

            <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="doFilter($event.target.value)" placeholder="Buscar Tipo Documento">
                </mat-form-field>
              </div>
            
            <table mat-table [dataSource] = "dataSource " class = "mat-elevation-z8"> 
                
                <ng-container matColumnDef = "codigo">
                   <th mat-header-cell *matHeaderCellDef> Codigo</th>
                   <td mat-cell *matCellDef = "let element"> {{element.codigo}} </td>
                </ng-container>
                <ng-container matColumnDef = "descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                    <td mat-cell *matCellDef = "let element"> {{element.descripcion}} </td>
                 </ng-container>
                 <ng-container matColumnDef = "accion">
                    <th mat-header-cell *matHeaderCellDef>Acciones </th>
                    <td mat-cell *matCellDef = "let row"> <button [routerLink]="['/tipodocumentos/editar',row.codigo]"  class="btn btn-primary">
                        <i  class="fa fa-edit"></i>
                      </button>
                      <button (click)="eliminarTipoDocumento(row.codigo)" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                 </ng-container>
                 
                 
                <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
                <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
               
                 
             </table>
             <mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 6, 10, 20]">
            </mat-paginator>
             <div class="text-right">
                 <button routerLink="/tipodocumentos/agregar" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                 <i class="fa fa-plus"></i> 
                 Crear Tipo Documento
               </button>
             </div>
        </div>
    </div>
</div> 
  
