<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de Tipo Documento</h4>
                    <form [formGroup]="tipodocumentoformulario">
                      <mat-form-field>
                        <input matInput placeholder="Ingrese el Codigo " formControlName="descripcion">
                      </mat-form-field>
                      <div class="text-xs-right">
                        <!-- <button type="submit"  [disabled]="tipodocumentoformulario.invalid"  class="btn btn-primary" (click)="editar ? actualizarTipoDocumento():nuevoTipoDocumento()" type="submit" >Guardar</button> -->
                        <button type="submit" [disabled]="tipodocumentoformulario.invalid" class="btn btn-info btn-circle btn-lg" (click)="editar ? actualizarTipoDocumento():nuevoTipoDocumento()" ><i class="fa fa-check"></i> </button>
                        <button type="reset" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i> </button>
                        <!-- <button type="reset"  class="btn btn-inverse">Cancelar</button> -->
                    </div>
                    </form>
            </div>
        </div>
    </div>
  </div>