
<div class="col" >
    <div class="card">
        <div class="card-body">

            <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="doFilter($event.target.value)" placeholder="Buscar Productos">
                </mat-form-field>
              </div>
            
            <table mat-table [dataSource] = "dataSource " class = "mat-elevation-z8"> 
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                     <th mat-header-cell *matHeaderCellDef></th>
                     <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                     [checked]="selection.hasValue() && isAllSelected()"
                                     [indeterminate]="selection.hasValue() && !isAllSelected()">
                     </mat-checkbox>
                      -->
                     <th mat-cell *matCellDef="let row" id="selec">
                     <mat-checkbox (click)="$event.stopPropagation()"
                                     (change)="$event ? selection.toggle(row) : null"
                                     [checked]="selection.isSelected(row)">
                     </mat-checkbox>
                     </th>
                     <td mat-footer-cell *matFooterCellDef>  </td>
                 </ng-container>
                <ng-container matColumnDef = "codigoproducto">
                   <th mat-header-cell *matHeaderCellDef> Codigo</th>
                   <td mat-cell *matCellDef = "let element"> {{element.codigoproducto}} </td>
                   <td mat-footer-cell *matFooterCellDef>  </td>
                </ng-container>
                <ng-container matColumnDef = "codigobarra">
                    <th mat-header-cell *matHeaderCellDef> C.Barra</th>
                    <td mat-cell *matCellDef = "let element"> {{element.codigobarra}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>
                 </ng-container>
                 <ng-container matColumnDef = "descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                    <td mat-cell *matCellDef = "let element"> {{element.descripcion}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>
                 </ng-container>
                 <ng-container matColumnDef = "preciocompra">
                    <th mat-header-cell *matHeaderCellDef>Precio Compra</th>
                    <td mat-cell *matCellDef = "let element"> {{element.preciocompra | number}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>
                 </ng-container>
                 <ng-container matColumnDef = "precioventaminorista">
                    <th mat-header-cell *matHeaderCellDef>Precio Mayorista </th>
                    <td mat-cell *matCellDef = "let element"> {{element.preciomayorista}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>
                 </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
               <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
               
                 
             </table>
             <mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 6, 10, 20]">
            </mat-paginator>
             <div class="text-right">
                 <button (click)='SelectedRows()' type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                 <i class="fa fa-plus"></i> 
                 Agregar Producto
               </button>
             </div>
        </div>
    </div>
</div> 
  
