tr{
    height: auto;
    width: 100%;
}
table{
    height: auto;
    width: 100%;
}
.mat-form-field{
    height: auto;
    width: 100%;
    
}

.mat-raised-button{
    height: auto;
    width: 100%;
    
}
