<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Impuestos</h4>
           
            <div class="table-responsive">
                <input type="text" class="form-control m p-0 " name="filtroImpuesto" [(ngModel)]="filtroImpuesto"  placeholder="Buscar" />
                <table class="table color-table inverse-table">
                    <thead>
                        <tr>
                          
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Dividir Por</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let impuesto of impuestos | buscarimpuesto:filtroImpuesto  | paginate:{itemsPerPage:3,currentPage: p}; let i = index  ">
                            <td >{{impuesto.codigo}}</td>
                            <td >{{impuesto.nombre}}</td>
                            <td>{{impuesto.porcentaje}}</td>
                            <td>
                                <button [routerLink]="['/impuestos/editar',impuesto.codigo]"  class="btn btn-primary">
                                <i  class="fa fa-edit"></i>
                              </button>

                                <button  (click)="eliminarImpuesto(impuesto.codigo)"  class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <div class="text-right">
                    <button routerLink="/impuestos/agregar" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i> 
                    Crear Impuesto
                  </button>
                </div>
            </div>
        </div>
    </div>
</div> 