<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de Sucursal</h4>
                    <form [formGroup]="clienteformulario">
                      <mat-form-field>
                        <input matInput placeholder="Ingrese la cedula " formControlName="cedula">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese el RUC " formControlName="ruc">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese La Razon Social "formControlName="razonsocial">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese la Fecha Nacimiento "formControlName="fechanacimiento">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese la Direccion "formControlName="direccion">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Ingrese el Telefono "formControlName="telefono">
                      </mat-form-field>
                      <!-- autocompletado -->
                      <mat-form-field class="example-full-width">
                        <input  type="text"  placeholder="Ingrese el Nombre de la Ciudad" aria-label="Assignee" matInput formControlName="ciudad"  [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" >
                          <mat-option *ngFor="let option of filteredOptions | async"   [value]="option.nombre"  >
                          {{option.nombre}}
                         </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <!--  -->
                      <div class="text-xs-right">
                        <button type="submit"  [disabled]="clienteformulario.invalid"  class="btn btn-primary" (click)="editar ? actualizarCliente():nuevoCliente()"  type="submit" >Guardar</button>
                        <button type="reset" class="btn btn-inverse">Cancelar</button>
                    </div>
                    </form>
            </div>
        </div>
    </div>
  </div>
