<h4>Acceso Directo Administrativo</h4>
<div class="row">
    <div class="col-2">
        <div>
            <div class="card-body">
               <a [routerLink]="['/productos']"><img src="../../../../../assets/images/apertura-caja.png"></a >
                <h5 class="card-title">Apertura Caja</h5>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div>
            <div class="card-body">
               <a [routerLink]="['/productos']"><img src="../../../../../assets/images/cierre-caja.png"></a >
                <h5 class="card-title">Cierre Caja</h5>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div>
            <div class="card-body">
               <a [routerLink]="['/productos']"><img src="../../../../../assets/images/facturacion.png"></a >
                <h5 class="card-title">Facturacion</h5>
            </div>
     </div>
    </div>
    <div class="col-2">
        <div>
            <div class="card-body">
               <a [routerLink]="['/productos']"><img src="../../../../../assets/images/cuota.png"></a >
                <h5 class="card-title">Cobro Cuota</h5>
            </div>
     </div>
    </div>

    <div class="col-2">
        <div>
            <div class="card-body">
               <a [routerLink]="['/productos']"><img src="../../../../../assets/images/anular.png"></a >
                <h5 class="card-title">Anular Documentos</h5>
            </div>
     </div>
    </div>

    <div class="col-2">
        <div>
            <div class="card-body">
               <a [routerLink]="['/productos']"><img src="../../../../../assets/images/reimpresion.png"></a >
                <h5 class="card-title">Reimpresion</h5>
            </div>
     </div>
    </div>
</div>